<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="oneColLiqCtr.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="container">
  <div class="content">
    <h2>Reasons For Not Pair Programming</h2>
    <p>I am not submitting a link to a pair programming video for this assignment for privacy reasons.  I live in a shared roommate household with limited space and don't have a private environment in which to record the video at home.  I don't feel comfortable with having the video of my living environment be shared or seen by other people that I don't know personally. </p>
    <p>I believe that there is a lot to be gained from pair programming and I would definitely like to gain that experience.  It sounds like a good opportunity to learn things collaboratively and to figure out the solutions to problems quicker than going solo.  It's also good to improve the ability to explain the code and logic to another person rather than just keeping everything in one's head.</p>
	<p>This assignment was not too difficult but it was a good introduction to programming in Ruby and basic concepts in Linux, Git, and clould deployment.  It took me quite a long time to get my environment set up before I could even get to the class videos and assignments.  That was sort of frustrating.</p>
    <p>But now that I have the environment set up and have learnt the basics, I hope to be faster and more efficient in future coursework and assignments.</p>
    <!-- end .content --></div>
  <!-- end .container --></div>
</body>
</html>

